@import './vendor/bootstrap';
@import './vendor/_reset';
@import './component/navigation';

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
    outline: none;
}

.wrapper-outside {
    background: rgb(245, 242, 242);
    height: 50vw;
    padding: 20px;
}